<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
    {% include "./components/header.njk" %}
    {% include "./components/footer.njk" %}
</body>
</html>