@import "global";
@import "helpers/mixins";
@import "helpers/variables";

* {
  font-family: 'Roboto', sans-serif !important;
}

html {
  font-weight: 300;
  color: #0e2355;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

header {
  background: linear-gradient(180deg,#dff0ff 0,rgba(230,255,226,0) 100%);

  .header__top {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 40px;

    .header_logo_money {
      fill: #90ce07;
      stroke: #90ce07;
    }

    svg {
      height: 29px;
      width: 153px;
    }

    .russiaflag {
      width: 16px;
      height: 11px;
      margin-left: auto;
      margin-right: 10px;
    }

    .kzflag {
      width: 16px;
      height: 11px;
      margin-right: 20px;
    }

    .header__phone {
      float: right;
      margin-right: 40px;

      .call {
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        letter-spacing: 1px;
      }

      .text {
        font-size: 14px;
        opacity: 0.5;
        text-align: right;
        color: #4c4c4c;
        font-weight: 300;
      }
    }

    button {
      text-align: center;
      border-radius: 3px;
      display: block;
      background-color: #f9f9f9;
      background-size: 12px 12px;
      padding: 10px 20px;
      font-size: 13px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
      border: none;
      color: #4c4c4c;
      font-weight: 300;
    }
  }

  .header__items {
    margin-bottom: 80px;
    display: table;
    width: 100%;

    a {
      text-decoration: none;
      display: table-cell;
      text-align: center;
      font-size: 14px;
      color: #4c4c4c;
      font-weight: 300;

      &:hover {

        .item {
          border-radius: 4px;
          background: pink;
        }
      }

      .item {
        text-transform: uppercase;
        position: relative;
        padding: 15px 0;
        color: black;
        transition: background ease 0.3s;

        &:before {
          content: '';
          display: block;
          height: 15px;
          width: 1px;
          background-color: #ddd;
          position: absolute;
          left: 0;
          top: 7px;
        }
      }
    }
  }

  .header__tittles {
    position: relative;

    h1 {
      font-size: 45px;
      font-weight: 500;
      margin-bottom: 60px;
    }

    span {
      color: #90ce07;
    }

    h2 {
      font-size: 26px;
      margin-bottom: 80px;
      font-weight: 400;
    }

    .button {
      border-radius: 40px;
      background-color: darkorange;
      padding: 20px 70px;
      margin-bottom: 75px;
      color: white;
      border: none;
    }

    .text {
      font-weight: 300;
      font-size: 17px;
    }

    .img__girl {
      top: -110px;
      width: 448px;
      height: 526px;
      position: absolute;
      right: -71px;
      pointer-events: none;
    }
  }
}

#howitworks {
  padding-top: 70px;
  padding-bottom: 100px;

  h1 {
    font-size: 34px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 30px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    .item {
      position: relative;
      margin-left: 100px;

      &:nth-child(3) {
        margin-right: 100px;
      }

      svg {
        text-align: center;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        display: block;
      }

      .item__wrapper {

        a {
          text-decoration: none;
          color: #74a509;
          transition: all .3s ease;
          display: block;
          text-align: center;
          font-size: 18px;
          font-weight: 300;
          margin-bottom: 25px;

          &:hover {
            color: pink;
          }
        }

        .number__first {
          position: absolute;
          width: 25px;
          height: 25px;
          font-size: 14px;
          line-height: 25px;
          color: #fff;
          text-align: center;
          background-color: #8fc122;
          border-radius: 50%;
          top: 147px;
          left: 35px;
        }

        .number__second {
          position: absolute;
          width: 25px;
          height: 25px;
          font-size: 14px;
          line-height: 25px;
          color: #fff;
          text-align: center;
          background-color: #8fc122;
          border-radius: 50%;
          top: 147px;
          left: 20px;
        }

        .number__third {
          position: absolute;
          width: 25px;
          height: 25px;
          font-size: 14px;
          line-height: 25px;
          color: #fff;
          text-align: center;
          background-color: #8fc122;
          border-radius: 50%;
          top: 147px;
          left: 0;
        }

        p {
          text-align: center;
          font-weight: 300;
        }
      }
    }
  }
}
#news {

  .wrapper {
    display: flex;
    justify-content: space-between;

    .news {
      width: 67%;

      .tittle {
        display: block;
        color: #74a509;
        text-decoration: none;
        transition: all .3s ease;
        font-size: 34px;
        font-weight: 300;
        margin-bottom: 50px;

        &:hover {
          color: pink;
        }
      }

      .news__item {
        margin-bottom: 30px;

        .date {
          font-size: 12px;
          font-weight: 300;
          color: #0e2355;
          margin-bottom: 5px;
        }

        .tittle__second {
          color: #74a509;
          text-decoration: none;
          transition: all .3s ease;
          font-size: 24px;
          font-weight: 300;
          line-height: 1.3;
          display: block;
          margin-bottom: 10px;

          &:hover {
            color: pink;
          }
        }

        .text {
          font-weight: 300;
          line-height: 1.7;
          text-align: justify;
        }
      }

    }

    .media {
      width: 33%;
      margin-left: 30px;

      .tittle {
        display: block;
        color: #74a509;
        text-decoration: none;
        transition: all .3s ease;
        font-size: 34px;
        font-weight: 300;
        margin-bottom: 40px;

        &:hover {
          color: pink;
        }
      }

      .media__wrapper {
        display: flex;

        img {
          width: 220px;
          height: 55px;
        }
      }
    }
  }

  .slider {
    margin-top: 60px;

    .image {
      text-align: center;
      border: 1px solid #eee;
      width: 215px;
      height: 110px;
      padding-top: 10px;


      img {
        margin: 0 auto;
      }
    }

    .slick-next:before, .slick-prev:before {
        color: red;
      }

      .slick-slide {
        margin: 0 10px;
      }
      /* the parent */
      .slick-list {
        margin: 0 -10px;
      }
    }
  }
